@page "/"
@using Calibr_WebServer.Auth;
@inject IJSRuntime js
@inject IUserService UserService

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <div>
            <style>
                div {
                    text-align: center;
                } </style>
            <h1>Добро пожаловать в 1050ti-store, @context.User.Identity.Name!</h1>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <style>
                div {
                    text-align: center;
                }
            </style>
            <h1>Добро пожаловать в 1050ti-store</h1>
        </div>
    </NotAuthorized>
</AuthorizeView>

<MudText Style="font-size:x-large; font-family:sans-serif; text-align: center">У нас есть огромный ассортимент самых лучших видеокарт</MudText>

<MudGrid Style="align-content: center" Spacing="10">
    <MudItem>
        <MudText Style="font-size:x-large; font-family:sans-serif; text-align: center">Невероятная система охлаждения</MudText>
        <MudImage Style="width: 500px; max-height:auto" Src="http://rain.linuxoid.in/fileupload/photos/hardware/rig/asus%207850%20+%2092%20mm%20fan_2.jpg" />
    </MudItem>

    <MudItem>
        <MudText Style="font-size:x-large; font-family:sans-serif; text-align: center">Новеший чип для любых современных игр</MudText>
        <MudImage Style="width: 500px; max-height:auto" Src="https://34ra.ru/wp-content/uploads/sgorevshaya-videokarta.jpg" />
    </MudItem>
</MudGrid>
<MudItem>
    <MudText Style="font-size:x-large; font-family:sans-serif; text-align: center">И наконец, наш флагман, сочетающий в себе все эти новшества - 1050ti msi gamingx на 4гб видеопамяти</MudText>
    <MudImage Style="width: 700px; max-height:auto" Src="https://i.ebayimg.com/images/g/LcsAAOSwMpNhRtw-/s-l640.jpg" />
</MudItem>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState{ get; set; }

    private async Task DisplayGreetingAlert()
    {
        var authState = await authenticationState;
        var message = $"Hello, {authState.User.Identity.Name}";
        await js.InvokeVoidAsync("alert", message);
    }
}
